// Variables de colores (ajustadas según los valores del footer)
$footer-background: #f5f5f5; // Gris del pie de página
$footer-title-color:black; // Amarillo brillante para los títulos
$footer-text-color: #282828; // Gris oscuro para el texto
$footer-strong-color: #1a1a1a; // Gris muy oscuro para los elementos 'strong'

// Estilos globales para los textos de las secciones
.container {
 // background-color: $footer-background; // Fondo gris claro
  padding: 0 6rem;
  margin-bottom: 10px; // Espacio entre secciones
 // border-radius: 8px;
 //padding-left: 6rem;
}

h2, h5 {
  color: $footer-title-color; // Títulos en amarillo brillante
  margin-bottom: 15px;
 // text-align: center;
 // text-align: center; // Alineación centrada de los títulos
}

h2 {
 // font-size: 1ch; // Tamaño de fuente para el título principal
  font-weight: bold; // Mayor grosor para el título principal
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  font-weight: 800;
}

h3 {
  //color: $footer-title-color; // Títulos en amarillo
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: $footer-strong-color;

   // Alineación de los títulos (opcional, según lo desees)
}

h5 {
  font-size: 1.5rem; // Tamaño de fuente para los subtítulos
  // Peso de fuente ligeramente más pesado para los subtítulos
  font-weight: 600;
  margin: 2rem 1rem ;

}

p, li {
  color: $footer-text-color; // Color del texto en gris oscuro
  font-size: 16px;
  line-height: 1.5;
  padding-left: 15px; // Agrega padding a la izquierda
  padding-right: 15px; // Agrega padding a la derecha
  text-align: justify;
}

ol {
  margin-top: 10px;
  padding-left: 20px; // Alineación de la lista ordenada
  li {
    margin-bottom: 10px;
  }
}

strong {
  font-weight: bold;
  color:#282828; // Gris muy oscuro para los elementos en negrita
  font-size: 15px; // Aumenta ligeramente el tamaño para hacerlo más visible
}


.acerca-container {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.sidebar a:hover,
.sidebar li.active a {
  transition: 0.3s;
  color: #007bff;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 2rem;
}

.container {
  margin-bottom: 2rem;
}

.footer-section {
 padding-top: 1rem;
  border-radius: 10px;
  border: 2px solid #323335af;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.8rem;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sidebar {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 4rem;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar li {
    margin-bottom: 0.5rem;
  }

  .sidebar a {
    font-size: 1rem;
  }

  .acerca-container {
    flex-direction: column;
  }

  .content {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  p, li {
    font-size: 14px;
  }
}