<div class="acerca-container">
  <nav class="sidebar">
    <h2 style="margin-bottom: 2rem;">Acerca de</h2>
    <ul>
      <li [class.active]="activeSection === 'acercadecarpetadigital'" style="text-align: left;"><a
          (click)="scrollToSection('acercadecarpetadigital')">- Carpeta Digital</a>
      </li>
      <!-- <li style="text-align: left;"><a (click)="scrollToSection('container')">Políticas de Devolución</a></li> -->
      <li [class.active]="activeSection === 'servicios'" style="text-align: left;"><a
          (click)="scrollToSection('servicios')">- Servicios</a></li>
      <!-- <li style="text-align: left;"><a (click)="scrollToSection('copyright')">Copyright</a></li>
      <li style="text-align: left;"><a (click)="scrollToSection('cookies')">Preferencias de cookies</a></li> -->

      <br>
      <div class="footer-section">
        <li><a href="/site/acercade#acercadecarpetadigital">Acerca de</a></li>
        <li><a href="/site/ayuda#Ayuda">Ayuda</a></li>
        <li><a href="/site/legales#terminos">Legal</a></li>
        <!-- Agrega más enlaces según sea necesario -->
      </div>
    </ul>
  </nav>

  <div class="content">
    <h2>Acerca de</h2>
    <div class="container" id="acercadecarpetadigital" style="margin-top: 4rem;">
      <h3>Carpeta Digital</h3>
      <p>
        Contribuir a la educación mediante planificación curricular de vanguardia, empoderando a los docentes de
        educación básica regular de Perú y Latinoamérica mediante la provisión de herramientas pedagógicas e
        innovadoras, estrategias didácticas interactivas y soporte personalizado para transformar la enseñanza y el
        aprendizaje, asegurando una educación inclusiva y de calidad para todos.
      </p>
      <h5>Valores</h5>
      <p><strong>Valores personales:</strong> Valoramos la integridad y la resiliencia en la contratación de
        profesionales, asegurando que nuestro equipo esté comprometido con la ética y la superación ante desafíos.</p>
      <p><strong>Valores relacionales:</strong> Fomentamos la comunicación asertiva en todas nuestras interacciones,
        cultivando un ambiente de confianza y colaboración entre docentes, estudiantes y la comunidad.</p>
      <p><strong>Valores operativos:</strong> Nos guiamos por la innovación y la calidad del servicio en nuestras
        actividades diarias, buscando constantemente formas de mejorar y ofrecer lo mejor a nuestros usuarios.</p>
      <p><strong>Valores de servicio:</strong> Priorizamos la personalización de nuestros servicios, adaptando nuestras
        propuestas a las necesidades específicas de cada cliente para garantizar un impacto significativo en su labor
        educativa.</p>
      <p><strong>Valores ambientales:</strong> Contribuimos al cuidado del medio ambiente mediante la oferta de
        productos y servicios digitales, lo que minimiza el uso de recursos físicos. Además, mejoramos la calidad de la
        educación, promoviendo un futuro más sostenible.</p>
    </div>

    <div class="container" id="vision">
      <h5>Visión</h5>
      <p>
        Ser la empresa líder en diseño y planificación curricular en Perú y Latinoamérica, reconocida por transformar la
        enseñanza a través de herramientas pedagógicas innovadoras y un soporte personalizado que empodere a los
        docentes. Comprometiéndonos a expandir nuestras soluciones educativas, adaptándonos a las necesidades de los
        docentes, contribuyendo de esta manera a la mejora continua de la educación.
      </p>
    </div>

    <!-- <div class="container" id="propuestaDeValor">
    <h5>Propuesta de Valor</h5>
    <p>
      Soluciones educativas innovadoras para docentes que les permitan ahorrar tiempo y reducir el estrés, transformando su práctica pedagógica, facilitando así aprendizajes significativos.
    </p>
    <p>
      Proporcionamos a los docentes soluciones educativas innovadoras que les permiten ahorrar tiempo y reducir el estrés, transformando su práctica pedagógica en un proceso más dinámico y motivador, facilitando así aprendizajes significativos.
    </p>
    <p>
      Únete a la comunidad de docentes que ya confían en Carpeta Digital para transformar la experiencia educativa y alcanzar el éxito en tu labor docente.
    </p>
</div> -->

    <div class="container" id="servicios" style="margin-bottom: 4rem;">
      <h3>Servicios</h3>
      <p><strong>PLANIFICACIÓN:</strong></p>
      <p> Más allá del plan: resultados tangibles con nuestra planificación curricular.</p>
      <p>Domina tu aula planificación curricular que te simplifica la vida.</p>
      <p><strong>EVALUACIÓN:</strong> </p>
      <p> Aprende en cada paso: Evaluación formativa adaptada al progreso individual.</p>
      <p>Evaluación formativa aprendizaje constante, progreso garantizado.</p>
      <p><strong>ESTRATEGIAS:</strong></p>
      <p> Estrategias didácticas innovadoras: inspira el aprendizaje, transforma la educación.</p>
      <p> El secreto para un aprendizaje exitoso.</p>
      <p><strong>CONCURSOS:</strong></p>
      <p> Una experiencia inolvidable: ¡Participa de los concursos escolares!</p>
      <p><strong>¡Muestra tu talento y gana:</strong></p>
      <p> Adquiere los kit de concursos escolares.</p>
      <p><strong>TALLERES:</strong></p>
      <p> Innovación educativa: cursos y talleres para docentes que inspiran.</p>
      <p><strong>Invierte en tu crecimiento profesional:</strong></p>
      <p> cursos y talleres para docentes.</p>
      <p><strong>RECURSOS:</strong> </p>
      <p> Ahorra tiempo y esfuerzo: recursos didácticos listos para usar.</p>
      <p><strong>Recursos didácticos innovadores:</strong></p>
      <p> Transforma tu aula.</p>
    </div>
  </div>
</div>