<button
  [type]="type"
  [class]="classes"
  [disabled]="disabled || loading"
  [attr.aria-busy]="loading ? 'true' : null"
  [attr.aria-label]="iconOnly ? ariaLabel : null"
  (click)="onClick($event)">

  @if (loading) {
    <span class="app-btn__spinner" aria-hidden="true"></span>
  }

  @if (icon && !loading) {
    <nb-icon
      class="app-btn__icon"
      [icon]="icon"
      aria-hidden="true">
    </nb-icon>
  }

  @if (!iconOnly) {
    <span class="app-btn__label">
      <ng-content></ng-content>
    </span>
  }
</button>
