<div class="documento-container">
  <h1>Papelera de Documentos</h1>

  <div class="search-create-container">
    <!-- Campo de búsqueda 
    <mat-form-field appearance="outline" class="search">
      <mat-label>Buscar Documentos...</mat-label>
      <input matInput placeholder="Buscar Documentos">
    </mat-form-field>
-->
    <!-- Botones de acción -->
    <div class="buttons-container">
      <button mat-raised-button color="primary" class="create-documento" (click)="restaurarDocumento()">
        <mat-icon>add</mat-icon>
        Restaurar
      </button>
      <button mat-raised-button [disabled]="!enableDelete" (click)="onDeleteFisicoClick()" color="warn" class="clear-search">
        <mat-icon>delete_forever</mat-icon>
        Borrar Definitivo
      </button>
    </div>
  </div>

  <ngx-custom-table [nbSpinner]="!ready" nbSpinnerStatus="primary" nbSpinnerSize="giant"
    *ngIf="documentsList.length > 0" [padre]="padre" [structTable]="structTable" [content]="documentsList"
    (checkboxChange)="onCheckboxChangeInChild($event)">
  </ngx-custom-table>

  <div class="paginator-container">
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[6, 12, 24]" showFirstLastButtons
      (page)="onPageChange($event)"></mat-paginator>
  </div>

</div>