<div class="container">
  <h2>Carpeta Digital</h2>
</div>

<div class="container descripcion-general">
 
  <h3>MISIÓN:</h3>
  <p>
    Contribuir a la educación mediante planificación curricular de vanguardia, empoderando a los docentes de educación básica regular de Perú y Latinoamérica mediante la provisión de herramientas pedagógicas innovadoras, estrategias didácticas interactivas y soporte personalizado para transformar la enseñanza y el aprendizaje, asegurando una educación inclusiva y de calidad para todos.
  </p>
</div>

<div class="container valores">
  <h3>VALORES:</h3>
  <p>Nuestro compromiso se basa en los siguientes valores:</p>
  <ol>
    <li><b>Valores personales:</b> Valoramos la integridad y la resiliencia en la contratación de profesionales, asegurando que nuestro equipo esté comprometido con la ética y la superación ante desafíos.</li>
    <li><b>Valores relacionales:</b> Fomentamos la comunicación asertiva en todas nuestras interacciones, cultivando un ambiente de confianza y colaboración entre docentes, estudiantes y la comunidad.</li>
    <li><b>Valores operativos:</b> Nos guiamos por la innovación y la calidad del servicio en nuestras actividades diarias, buscando constantemente formas de mejorar y ofrecer lo mejor a nuestros usuarios.</li>
    <li><b>Valores de servicio:</b> Priorizamos la personalización de nuestros servicios, adaptando nuestras propuestas a las necesidades específicas de cada cliente para garantizar un impacto significativo en su labor educativa.</li>
    <li><b>Valores ambientales:</b> Contribuimos al cuidado del medio ambiente mediante la oferta de productos y servicios digitales, lo que minimiza el uso de recursos físicos. Además, mejoramos la calidad de la educación, promoviendo un futuro más sostenible.</li>
  </ol>
</div>

<div class="container vision">
  <h3>VISIÓN:</h3>
  <p>
    Soluciones educativas innovadoras para docentes que les permitan ahorrar tiempo y reducir el estrés, transformando su práctica pedagógica, facilitando así aprendizajes significativos.
  </p>
  <p>
    Proporcionamos a los docentes soluciones educativas innovadoras que les permiten ahorrar tiempo y reducir el estrés, transformando su práctica pedagógica en un proceso más dinámico y motivador, facilitando así aprendizajes significativos.
  </p>
  <p>
    Únete a la comunidad de docentes que ya confían en Carpeta Digital para transformar la experiencia educativa y alcanzar el éxito en tu labor docente.
  </p>
</div>

<div class="container propuesta-valor">
  <h3>PROPUESTA DE VALOR:</h3>
  <p>
    Ser la empresa líder en diseño y planificación curricular en Perú y Latinoamérica, reconocida por transformar la enseñanza a través de herramientas pedagógicas innovadoras y un soporte personalizado que empodere a los docentes. Comprometiéndonos a expandir nuestras soluciones educativas, adaptándonos a las necesidades de los docentes, contribuyendo de esta manera a la mejora continua de la educación.
  </p>
</div>  