<div class="dialog-container">
    <h2 class="dialog-header">Usuario no encontrado</h2>
    <p class="dialog-content"><strong>¿Quieres descargar nuestros mejores documentos de forma gratuita?</strong> ¡Regístrate y únete a nuestra comunidad! Al registrarte, podrás acceder a una amplia variedad de recursos y recibirás actualizaciones sobre nuestros últimos lanzamientos.</p>
    <div class="dialog-actions">
        <button class="login-button" (click)="redirectToLogin()">Iniciar Sesión</button>
        <button class="register-button" (click)="redirectToRegister()">Registrarse</button>
    </div>
  </div>