<mat-card>
  <mat-tab-group>
    <mat-tab label="Equipo">
      <ngx-equipo-crud></ngx-equipo-crud>
    </mat-tab>
    <mat-tab label="Aliados">
      <ngx-aliado-crud></ngx-aliado-crud>
    </mat-tab>
    <mat-tab label="Historia">
      <ngx-historia-crud></ngx-historia-crud>
    </mat-tab>
    <mat-tab label="Comentarios">
      <ngx-comentario-crud></ngx-comentario-crud>
    </mat-tab>
    <mat-tab label="Unidades">
      <ngx-unit-schedule-crud></ngx-unit-schedule-crud>
    </mat-tab>
    <mat-tab label="Términos Embajador">
      <ngx-admin-terminos-embajador></ngx-admin-terminos-embajador>
    </mat-tab>
  </mat-tab-group>
</mat-card>
