<mat-card class="card" (click)="goDetails()">
  <div class="card-content-wrapper">
    <!-- Imagen a la izquierda -->
    <div class="card-image-wrapper">
      <img mat-card-image [src]="item.imagenUrlPublic" alt="Imagen del taller" class="card-image" />
    </div>

    <!-- Contenido a la derecha -->
    <div class="card-details">
      <mat-card-title class="card-title" [nbPopover]="item.title" nbPopoverTrigger="hint" nbPopoverPlacement="top">
        {{ item.title }}
      </mat-card-title>
      <p class="card-description" [nbPopover]="item.description" nbPopoverTrigger="hint" nbPopoverPlacement="top">
        {{ item.description | truncateText:250 }}
      </p>
      <div class="card-actions">
        <button mat-raised-button color="primary" (click)="likeDocument()">Me gusta</button>
        <button mat-raised-button color="accent" (click)="goToWhatsApp()">Suscribirse</button>
      </div>
    </div>
  </div>
</mat-card>