nb-layout .layout .layout-container .content nb-layout-footer nav {
  background-color: var(--footer-background-color, #f8fafc);
  border-top: var(--footer-divider-width, 1px) var(--footer-divider-style, solid) var(--footer-divider-color, #e5e7eb);
  color: var(--footer-text-color, #22292f);
  /* font-family: var(--footer-text-font-family); */
  font-size: var(--footer-text-font-size, 1rem);
  font-weight: var(--footer-text-font-weight, 400);
  line-height: var(--footer-text-line-height, 1.5);
  padding: var(--footer-padding, 2.5rem 2rem 2rem);
}
@import '../../styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
   // max-width: 8rem;
  }

  .menu-sidebar-admin ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
    max-width: 12rem;
  }

  .main-layout {
    padding: 0.2em !important;
    max-width: 8ren;
  }

  nb-sidebar {
    position: fixed;
    z-index: 100;
    background-color: white;
    height: 100%;
  }

  .menu-sidebar {
    background-color: white;
  }

  .menu-sidebar-admin {
    background-color: white;
  }
}

// Eliminar esta clase ya que la lógica se manejará en nb-sidebar
.sidebar-toggle {
  display: none !important;
}


nb-layout .layout .layout-container .content nb-layout-footer nav {
  background:  black;
}