<div class="aliado-crud-container">
  <div *ngIf="mensaje" class="mensaje-confirmacion">
    {{ mensaje }}
  </div>
  <h2>Gestión de Aliados</h2>

  <!-- Botón para mostrar formulario -->
  <button class="btn-agregar" (click)="mostrarFormulario = !mostrarFormulario">
    <span class="material-icons">add_circle</span> Nuevo
  </button>

  <!-- Formulario para agregar nuevo aliado -->
  <form *ngIf="mostrarFormulario" (ngSubmit)="guardarNuevo()" #nuevoForm="ngForm" class="aliado-form card">
    <div class="form-row">
      <input type="text" [(ngModel)]="nuevoAliado.name" name="name" placeholder="Nombre" required />
      <input type="text" [(ngModel)]="nuevoAliado.img" name="img" placeholder="URL Imagen" />
    </div>
    <div class="form-row">
      <input type="text" [(ngModel)]="nuevoAliado.location" name="location" placeholder="Ubicación" />
      <input type="text" [(ngModel)]="nuevoAliado.link" name="link" placeholder="Enlace" />
      <button type="submit" class="btn-agregar"><span class="material-icons">check_circle</span> Guardar</button>
    </div>
  </form>

  <!-- Tabla de aliados -->
  <div class="table-responsive">
    <table class="aliado-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Ubicación</th>
          <th>Enlace</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aliado of aliados">
          <ng-container *ngIf="isEditing && editAliado?.id === aliado.id; else viewRow">
            <td><input [(ngModel)]="editAliado.name" name="editName" /></td>
            <td><input [(ngModel)]="editAliado.img" name="editImg" /></td>
            <td><input [(ngModel)]="editAliado.location" name="editLocation" /></td>
            <td><input [(ngModel)]="editAliado.link" name="editLink" /></td>
            <td>
              <button (click)="guardarEdicion()" class="btn-guardar"><span class="material-icons">save</span></button>
              <button (click)="cancelarEdicion()" class="btn-cancelar"><span class="material-icons">cancel</span></button>
            </td>
          </ng-container>
          <ng-template #viewRow>
            <td>{{ aliado.name }}</td>
            <td><img [src]="aliado.img" alt="img" class="aliado-img" /></td>
            <td>{{ aliado.location }}</td>
            <td>
              <a [href]="aliado.link" target="_blank">Visitar</a>
            </td>
            <td>
              <button (click)="editarAliado(aliado)" class="btn-editar"><span class="material-icons">edit</span></button>
              <button (click)="eliminarAliado(aliado.id)" class="btn-eliminar"><span class="material-icons">delete</span></button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
