<div>
    <img src="assets/images/LOGOTIPO_OFICIAL.webp" alt="Cupon" class="cupon-image">
    <div class="cupon-actual">
        <h2 class="actual">Cupón Actual:</h2>
        <strong style="font-size: 3rem; margin: 1rem;">{{codigo}}</strong>
        <p>Descuento: {{descuento}}%</p>
        <p>Abono: {{abono}}%</p>
    </div>
    
    <div *ngIf="!codigo" class="prefijo-container">
        <label for="prefijo" class="prefijo-label">Prefijo para el cupón (opcional):</label>
        <input 
            type="text" 
            id="prefijo" 
            [(ngModel)]="prefijo"
            class="prefijo-input" 
            placeholder="Ej: PROMO, DESC, etc."
            maxlength="10">
    </div>
    
    <div *ngIf="!codigo" class="prefijo-container">
        <label for="prefijo-nuevo" class="prefijo-label">Prefijo para el nuevo cupón (opcional):</label>
        <input 
            type="text" 
            id="prefijo-nuevo" 
            [(ngModel)]="prefijo"
            class="prefijo-input" 
            placeholder="Ej: PROMO, DESC, etc."
            maxlength="10">
    </div>
    
    <button *ngIf="!codigo" (click)="generateCupon()" style="background-color: #28a745;">Generar Nuevo Cupón</button>
    <div *ngIf="loading" class="spinner"></div>
    <div *ngIf="cupon && !loading">
        <br>
        <p>Codigo Promocional: <strong>{{cupon.code}}</strong></p>
        <p>Descuento al usuario: <strong>{{ cupon.discountValue }}%</strong></p>
        <p>Abono al Embajador: <strong>{{ cupon.abonoValue }}%</strong></p>
    </div>
    <div *ngIf="error" class="error">
        <p>{{ error }}</p>
    </div>
</div>