div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .cupon-image {
    width: 550px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 80px; /* Espacio debajo de la imagen */
    margin-top: 80px;
  }

  button {
    margin-top: 10px;
    padding: 20px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

  .spinner {
    margin-top: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }

  .actual {
    margin: 2rem 0;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  p {
    font-size: 16px;
    color: #333;
    text-align: center; /* Centra el texto */
  }

  .cupon-actual {
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin: 20px 0; /* Espaciado externo */
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #333;
    }
  
    strong {
      display: block;
      font-size: 2.5rem;
      color: #007bff; /* Color azul */
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1rem;
      color: #555;
      margin: 5px 0;
    }
  }

  .error {
    margin-top: 20px;
    color: red;
    text-align: center; /* Centra el texto */
  }
  @media (max-width: 768px) {
    .cupon-image {
      width: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .cupon-image {
      width: 300px;
    }
  }
  
  @media (max-width: 300px) {
    .cupon-image {
      width: 250px;
    }
  }
}

