<div>
    <img src="assets/images/LOGOTIPO_OFICIAL.png" alt="Cupon" class="cupon-image">
    <div class="cupon-actual">
        <h2 class="actual">Cupón Actual:</h2>
        <strong style="font-size: 3rem; margin: 1rem;">{{codigo}}</strong>
        <p>Descuento: {{descuento}}</p>
        <p>Abono: {{abono}}</p>
    </div>
    <button (click)="generateCupon()">Generar Cupón</button>
    <div *ngIf="loading" class="spinner"></div>
    <div *ngIf="cupon && !loading">
        <br>
        <p>Codigo Promocional: <strong>{{cupon.code}}</strong></p>
        <p>Descuento al usuario: <strong>{{ cupon.discountValue }}%</strong></p>
        <p>Abono al promotor: <strong>{{ cupon.abonoValue }}%</strong></p>
    </div>
    <div *ngIf="error" class="error">
        <p>{{ error }}</p>
    </div>
</div>